<!DOCTYPE html>
<head>
<title> Searching an image</title>
</head>


<body bgcolor="red">


<div style="background-color:lightblue; height:50px; width:1200px; margin-left:70px;">
  <table >
  <tr>
  <td><div style="margin-top:10px; margin-left:30px;"><a href="index.html" target="frameset"> Home</a></div></td>
  <td><div style="margin-top:10px; margin-left:30px;"><a href="/entry" target="frame2"> Data Enter</a></div></td>
  <td><div style="margin-top:10px; margin-left:30px;"><a href="/search" target="frame2"> Search</a></div></td>
  <td><div style="margin-top:10px; margin-left:30px;"><a href="/update" target='frame2'> Update</a></div></td>
  <td><div style="margin-top:10px; margin-left:30px;"><a href="contectus.html" target='frame2'> Contact us</a></div></td>
  <td><div style="margin-top:10px; margin-left:30px;"><a href="aboutus.html" target='frame2'> About us</a></div></td>
  <td><div style="margin-top:10px; margin-left:30px; width:500px;"><marquee behaviour='scroll' direction='right'>P_R system is use to Identiufiy person</marquee></div></td>
  </tr>
  </table>
</div>

<div style="height:50px; width:800px; margin-left:330px;">
  <img src="images/1.jpg" witdh='1200px' height='110px' />
</div>
		 

</body>


</html>
