<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title></title>
    <style>
      *{margin:0; padding:0;}
      body{
        background-color: #e6fffa;
      }
    </style>
  </head>
  <body>
    <div id="row">
    </div>
    <br><br><br>
    <div class="container">
      <div class="row">

        <div class="col-6">
          <h3>PR system helps you to find the missing persons through there face picture.
            If any person is missing near you, your relative or neighbour please contact us at
            the PR community.PR system is specially designed for the rescue and security departments.</h3>

          <div class="col-6">
            <img src="images/11.jfif" height="250px" width="450px"><br><br>
          </div>
        </div>
      </div><br><br>
      <div class="container">
        <br><br><br><br>
      <div class="row">
        <div class="col-6">
          <h3>PR system helps you to find the Accidental persons through there face picture.
            If any person is injured near you, your relative or neighbour please contact us at
            the PR community.PR system is specially designed for the rescue and security departments.</h3>
          </div><br><br>

          <div class="col-6">
            <img src="images/12.jpg" height="250px" width="450px"><br><br>
          </div>
        </div>
      </div>








  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>