<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title></title>
    <style media="screen">
      body{
        height: 600px;
        background-color: #98BDBF;
      }
      #person{
        height: 600px;
        background-color: #98BDBF;
      }
      #person1{
        width: 300px;

      }
      #pic1{
        height:10px;
        width:10px;
        margin-left: 100px;
      }
    </style>

  </head>
  <body>
    <div class="container text-center">
      <br><br>
      <h1>PR system developed by PR Community</h1><br>

      <h3>There are three members in this community!!!</h3><br>
      <h3> SHAFQAT NADEEM  &nbsp;&nbsp; BSCS-F15-LC-306 </h3>
      <h3> WASEEM ELAHI  &nbsp;&nbsp; BSCS-F15-LC-254 </h3><br>
      <h3> USMAN AKHTER  &nbsp;&nbsp; BSCS-F15-LC-268 </h3><br>
      <br><br><br><br><br><br><br>
      <font size="6"> PR system is a real world problem solution.<br>
        PR system helps you to find the missing persons.<br>
        and Accidental persons through face recognition.
       </font>
    </div>
<br><br><br><br><br>











  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>